In [ ]:
import requests

def 다운로드(파일명, 링크):
    with open(파일명, "wb") as f:
        res = requests.get(링크)
        f.write(res.content)

파일명 = "교통량.xlsx"
다운로드_링크 = "https://github.com/tyjeon24/keri-pythontraining/raw/main/Week%202/2-2/%EC%B0%BD%EC%9B%90%EC%8B%9C%20%EA%B5%90%ED%86%B5%EB%9F%89.xlsx"
다운로드(파일명, 다운로드_링크)

# 1. 데이터 불러오기, 데이터 요약

1. "교통량.xlsx" 엑셀 파일을 read_excel 함수로 불러오세요.
2. 인덱스를 "번호"로 지정하세요.
3. decribe() 함수를 통해 요약된 내용을 출력해보세요.

```
# 출력  
       2020년 상행  2020년 하행  2021년 상행  2021년 하행
count     25.00     25.00     25.00     25.00
mean    4546.24   4505.36   4444.36   4134.12
std     9322.65   9130.24   8680.81   7446.61
min       32.00     28.00     49.00     36.00
25%      802.00    783.00    840.00    812.00
50%     1408.00   1557.00   1267.00   1722.00
75%     3729.00   4020.00   3686.00   3927.00
max    46477.00  45154.00  42871.00  36557.00
```

In [ ]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format # 소숫점 둘째자리까지 표현

### 이 사이에 코드 입력

교통량 = pd.read_excel("교통량.xlsx")
교통량 = 교통량.set_index("번호", drop=True)
교통량.describe()

###

       2020년 상행  2020년 하행  2021년 상행  2021년 하행
count     25.00     25.00     25.00     25.00
mean    4546.24   4505.36   4444.36   4134.12
std     9322.65   9130.24   8680.81   7446.61
min       32.00     28.00     49.00     36.00
25%      802.00    783.00    840.00    812.00
50%     1408.00   1557.00   1267.00   1722.00
75%     3729.00   4020.00   3686.00   3927.00
max    46477.00  45154.00  42871.00  36557.00

# 2. 열 이름 바꾸기, 정렬

1. '관측지점' 열을 '장소'라는 이름으로 변경해보세요.
2. 데이터를 2021년 상행 열을 기준으로 정렬해보세요.
3. 교통량[0:5]라고 입력하여 다섯 행만 출력해보세요.

```
# 출력
       구분             장소  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호                                                              
18   군도4호   구산면 유산리 92-5        32        28        49        36
17   군도3호      구산면 신촌삼거리       314       268       451       444
19   군도5호  구산면 수정리 359-6      1250      1181       492       533
11   군도2호      대산면 유등로 5       802       783       682       898
24  군도16호  진전면 고사리 753-8       581       549       691       721
```

In [ ]:
### 이 사이에 코드 입력

교통량 = 교통량.rename(columns={"관측지점":"장소"})
교통량 = 교통량.sort_values(by="2021년 상행")
교통량[0:5]

###

       구분             장소  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호
18   군도4호   구산면 유산리 92-5        32        28        49        36
17   군도3호      구산면 신촌삼거리       314       268       451       444
19   군도5호  구산면 수정리 359-6      1250      1181       492       533
11   군도2호      대산면 유등로 5       802       783       682       898
24  군도16호  진전면 고사리 753-8       581       549       691       721

# 3. 행, 열 선택

1. .loc() 속성을 활용하여, 8번 인덱스의 장소를 출력해보세요.

```
# 출력  
'성산구 불모산동'
```

In [ ]:
### 이 사이에 코드 입력

교통량.loc[8, "장소"]

###

'성산구 불모산동'

# 4. 인덱싱

1. 장소에 북면이 포함되어 있고, 2021년 하행선 교통량이 2000 이상인 데이터만 출력해보세요.

```
# 출력  
     구분              장소  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호                                                             
3   국지도      북면 내곡 탐앤탐스      3729      4463      3686      3927
5   국지도  북면 신촌리 북면운동장 앞      4733      4020      5492      5783
4   국지도  북면 신촌리 농기계센터 앞      5745      5672      6856      5785
```

In [ ]:
### 이 사이에 코드 입력

교통량 = 교통량[교통량["2021년 하행"] >= 2000]
교통량 = 교통량[교통량["장소"].str.contains("북면")]
교통량

###

     구분              장소  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호
3   국지도      북면 내곡 탐앤탐스      3729      4463      3686      3927
5   국지도  북면 신촌리 북면운동장 앞      4733      4020      5492      5783
4   국지도  북면 신촌리 농기계센터 앞      5745      5672      6856      5785